---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Proyecto from '../components/Proyecto.astro';
import { getCollection } from "astro:content";

// const proyectos = await Astro.glob('../content/projects/*.md')

const projects = await getCollection("projects");
---

<Layout title="Angel Torres">
	<div  class="dark:bg-gray-700">
	<Header title='Jose Angel Torres Rangel' />
	<div class="w-full flex justify-center dark:bg-gray-700 dark:text-white mt-5 mb-5">
		<div class=" w-full md:max-w-5xl md:flex items-center justify-center">
			<ul>
				<!-- {
					proyectos.map((proyecto) => (
						<Proyecto 
							title={proyecto?.frontmatter?.title} 
							link={proyecto?.frontmatter?.link}
							description={proyecto?.frontmatter?.description}
							date={proyecto?.frontmatter?.date}
							detail={proyecto?.frontmatter?.detail}
						/>
					))
				} -->
				{
					projects.map((project) => (
						<Proyecto
							title={project.data.title}
							link={project.data.link}
							description={project.data.description}
							date={project.data.date}
							detail={project.body}
						/>
					))
				}
			</ul>
		</div>
	</div>
	<Footer />
	</div>
</Layout>